@import '../sass/reset.scss';
@import '../sass/colors.scss';


body, html {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: #333333;
  font-size: 16px;
  background: #dbdbdb;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 20px 0 40px;
  font-size: 24px;
}
